<!-- ####### FOOTER CONTAINER ####### -->
			<div class='container_wrap ' id='footer'>
				<div class='container'>
				
					<div class='one_third first'><div id="nav_menu-2" class="widget widget_nav_menu"><div class="menu-bottom-bar-menu-container"><ul id="menu-bottom-bar-menu" class="menu"><li id="menu-item-5689" class="menu-item menu-item-type-post_type menu-item-object-forum menu-item-5689"><a href="http://flomio.com/forums/forum/ask-the-flomies/">Forums</a></li>
<li id="menu-item-5691" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5691"><a href="http://flomio.com/blog/">Blog</a></li>
<li id="menu-item-5690" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5690"><a href="http://flomio.com/shop/">Shop</a></li>
<li id="menu-item-656" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-656"><a href="http://flomio.com/about/">About</a></li>
</ul></div><span class="seperator extralight-border"></span></div><div id="avia_partner_widget-2" class="widget avia_partner_widget"><a href="http://www.techstars.com/cloud/" class="preloading_background  avia_partner1 link_list_item1 " ><img class="rounded" src="http://flomio.com/wp-content/uploads/2013/03/techstars_logo.png" title="" alt=""/></a><a href="http://www.rmrcapital.com/" class="preloading_background avia_partner2 link_list_item1 " ><img class="rounded" src="http://flomio.com/wp-content/uploads/2013/03/RMRCapital.png" title="" alt=""/></a><span class="seperator extralight-border"></span></div></div><div class='one_third '><div id="att_youtube-2" class="widget att_youtube">		<div class="attyoutube">
			<h3 class="widgettitle">Flomio TV</h3>						<div class="att_youtube_des">
				<div class="att_youtube_des_title">
					<h3 class="widgettitle"></h3>				</div>
				<div class="att_youtube_des_content">
									</div>
			</div>	
			<iframe
				width="350"
				height="200" 
				src="http://www.youtube.com/embed/yZsLwAMMs1w?rel=0"				frameborder="0" 
				allowfullscreen>
			</iframe>
						
		</div>
		<span class="seperator extralight-border"></span></div></div><div class='one_third '><div id="twitter-2" class="widget widget_twitter"><div><h3 class="widgettitle"><span class='twitterwidget twitterwidget-title'>140 CHAR WISDOM</span></h3><div class="twitter-avatar"><a href="http://twitter.com/flomio" title="Flomio" target="_blank"><img alt='Flomio' src='https://pbs.twimg.com/profile_images/2763524723/fcab5e3ce890bcbd4b0a5364402d78a6_normal.jpeg' /></a></div><ul><li><span class='entry-content'>Wordpress Debug, Shipping Made Easy <a href="http://t.co/pIVEEkpWlk" target="_blank">http://t.co/pIVEEkpWlk</a></span> <span class='entry-meta'><span class='time-meta'><a href="http://twitter.com/flomio/statuses/482334746588901378" target="_blank">09:28:59 PM June 26, 2014</a></span> <span class='from-meta'>from <a href="http://publicize.wp.com/" rel="nofollow">WordPress.com</a></span></span></li><li><span class='entry-content'>NFC+BLE work great together. Check out who in the payments industry agrees. <a href="http://t.co/w3qcUwThgR" target="_blank">http://t.co/w3qcUwThgR</a></span> <span class='entry-meta'><span class='time-meta'><a href="http://twitter.com/flomio/statuses/476169784346697728" target="_blank">09:11:38 PM June 09, 2014</a></span> <span class='from-meta'>from <a href="http://publicize.wp.com/" rel="nofollow">WordPress.com</a></span></span></li></ul></div><span class="seperator extralight-border"></span></div></div>
					
				</div>
				
			</div>
		<!-- ####### END FOOTER CONTAINER ####### -->
		
		<!-- ####### SOCKET CONTAINER ####### -->
			<div class='container_wrap ' id='socket'>
				<div class='container'>
					<span class='copyright'>&copy; Copyright - <a href='http://flomio.com/'>Flomio, Inc.</a></span>
				
					<ul class="social_bookmarks">
							<li class='twitter'><a href='http://twitter.com/flomio'>Follow us on Twitter</a></li><li class='facebook'><a href='http://www.facebook.com/pages/Flomio/218724368144282'>Join our Facebook Group</a></li>							
							<li class='rss'><a href="http://feeds.feedburner.com/Flomio">Subscribe to our RSS Feed</a></li>

									
						</ul>
						<!-- end social_bookmarks-->
				
				</div>
			</div>
			<!-- ####### END SOCKET CONTAINER ####### -->
		
		</div><!-- end wrap_all -->
		
		
		
				

	<div style="display:none">
	</div>

