

<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="chrome chrome35 html_stretched ">
<head>
<meta charset="UTF-8" />
<link rel="icon" href="http://flomio.com/wp-content/uploads/2011/12/FlomioSpark1B-01.png" type="image/png">


<!-- page title, displayed in your browser bar -->
<title>Flomio - Making Digital Physical</title>

<!-- add feeds, pingback and stuff-->
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="alternate" type="application/rss+xml" title="Flomio RSS2 Feed" href="http://feeds.feedburner.com/Flomio" />
<link rel="pingback" href="http://flomio.com/xmlrpc.php" />


<!-- add css stylesheets -->
<link rel="stylesheet" type="text/css" media="all" href="http://flomio.com/wp-content/themes/propulsion/style.css" />
<link rel="stylesheet" href="http://flomio.com/wp-content/themes/propulsion/css/grid.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="http://flomio.com/wp-content/themes/propulsion/css/base.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="http://flomio.com/wp-content/themes/propulsion/css/layout.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="http://flomio.com/wp-content/themes/propulsion/css/slideshow.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="http://flomio.com/wp-content/themes/propulsion/css/shortcodes.css" type="text/css" media="screen"/>



<link rel="stylesheet" href="http://flomio.com/wp-content/themes/propulsion/js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="http://flomio.com/wp-content/themes/propulsion/js/projekktor/theme/style.css" type="text/css" media="screen"/>


<!-- mobile setting -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


<!-- plugin and theme output with wp_head() -->

<!-- This site is optimized with the Yoast WordPress SEO plugin v1.5.3.3 - https://yoast.com/wordpress/plugins/seo/ -->
<link rel="canonical" href="http://flomio.com/" />
<link rel="next" href="http://flomio.com/page/2/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Flomio - Making Digital Physical" />
<meta property="og:url" content="http://flomio.com/" />
<meta property="og:site_name" content="Flomio" />
<!-- / Yoast WordPress SEO plugin. -->

<link rel='stylesheet' id='avia-woocommerce-css-css'  href='http://flomio.com/wp-content/themes/propulsion/config-woocommerce/woocommerce-mod.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack-subscriptions-css'  href='http://flomio.com/wp-content/plugins/jetpack/modules/subscriptions/subscriptions.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='bbp-default-css'  href='http://flomio.com/wp-content/plugins/bbpress/templates/default/css/bbpress.css?ver=2.5.4-5380' type='text/css' media='screen' />
<link rel='stylesheet' id='avia-bbpress-css'  href='http://flomio.com/wp-content/themes/propulsion/config-bbpress/bbpress-mod-21.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='dcjq-mega-menu-css'  href='http://flomio.com/wp-content/plugins/jquery-mega-menu/css/dcjq-mega-menu.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='apm-styles-css'  href='http://flomio.com/wp-content/plugins/woocommerce-accepted-payment-methods/assets/css/style.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='wc-bto-styles-css'  href='http://flomio.com/wp-content/plugins/woocommerce-composite-products/assets/css/bto-styles.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack-widgets-css'  href='http://flomio.com/wp-content/plugins/jetpack/modules/widgets/widgets.css?ver=20121003' type='text/css' media='all' />
<link rel='stylesheet' id='woodojo-social-widgets-css'  href='http://flomio.com/wp-content/plugins/woodojo/bundled/woodojo-social-widgets/assets/css/style.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='woodojo_tabs-css'  href='http://flomio.com/wp-content/plugins/woodojo/bundled/woodojo-tabs/assets/css/style.css?ver=3.9.1' type='text/css' media='all' />
<link rel='stylesheet' id='sharedaddy-css'  href='http://flomio.com/wp-content/plugins/jetpack/modules/sharedaddy/sharing.css?ver=3.0.2' type='text/css' media='all' />
<link rel='stylesheet' id='genericons-css'  href='http://flomio.com/wp-content/plugins/jetpack/_inc/genericons/genericons.css?ver=3.0.3' type='text/css' media='all' />
<script type='text/javascript' src='http://flomio.com/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
<script type='text/javascript' src='http://flomio.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://flomio.com/wp-content/themes/propulsion/js/projekktor/projekktor.min.js?ver=1'></script>
<script type='text/javascript' src='http://flomio.com/wp-content/themes/propulsion/js/avia.js?ver=1'></script>
<script type='text/javascript' src='http://flomio.com/wp-content/plugins/jquery-mega-menu/js/jquery.dcmegamenu.1.3.4.min.js?ver=3.9.1'></script>
<script type='text/javascript' src='http://flomio.com/wp-content/plugins/woodojo/bundled/woodojo-tabs/assets/js/functions.js?ver=1.0.0'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://flomio.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://flomio.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.9.1" />
<meta name="generator" content="WooCommerce 2.1.12" />
<link rel='shortlink' href='http://wp.me/4D8UQ' />
<link rel="stylesheet" type="text/css" href="http://flomio.com/wp-content/plugins/wp-recaptcha/recaptcha.css" /><style type="text/css">.broken_link, a.broken_link {
	text-decoration: line-through;
}</style>

<!--
Debugging Info for Theme support: 

Theme: Propulsion
Version: 2.1
Installed: propulsion
AviaFramework Version: 1.8
ML:128-PU:90-PLA:43
-->


<!-- custom styles set at your backend-->
<style type='text/css' id='dynamic-styles'>
#top .site-fontcolor, html, body, .blog-meta .post-meta-infos a, .blog-meta .post-meta-infos a span{
color:#222222;
}

#top .meta-color, div .meta-color a, .main_menu ul li a, #top .comment-container a, #top .widget ul li a, .minitext, .form-allowed-tags, div .pagination, #comments span, .minitext, .commentmetadata a, .blog-tags, .blog-tags a, .title_container #s, .wp-caption, blockquote:before, blockquote:after, blockquote small, blockquote cite, .hero-text, .js_active .tab, .news-time, .contentSlideControlls a, #js_sort_items a, .text-sep, .template-search a.post-entry .news-excerpt, ul.borderlist>li, .post_nav, .post_nav a, .quote-content, #top .widget_nav_menu li, .tweet-time, #top .avia_parnter_empty, .avia_socialcount a span, td, #top th.nobg, caption, .page-title{
color:#888889;
}

strong, #top .main-color, .main_menu ul:first-child > li.current-menu-item > a, .main_menu ul:first-child > li.current_page_item > a,  #top blockquote p, #top .main_menu .menu li a:hover, h1, h2, h3, h4, h5, h6, .js_active .tab.active_tab, #top #wrap_all .current_page_item>a, .first-quote, div .callout{
color:#1A1A19;
}

#top .search-result-counter{
color:#f8f8f8;
}

#top .site-background, html, body, .comment-reply-link, .main_menu .menu ul li, .title_container #searchsubmit:hover, .isotope .entry-content, .image_overlay_effect, .tagcloud a, .news-thumb, .tweet-thumb a, fieldset, pre{
background-color:#eeeef0;
}

tr:nth-child(even) td, tr:nth-child(even) th{
background-color:#eeeef0;
}

#top .on-primary-color, #top .on-primary-color a, .dropcap2, div .button, input[type="submit"], #submit, .info_text_header, .info_text_header a, .info_text_header a:hover, .contentSlideControlls a.activeItem, #top .related_posts .contentSlideControlls a.activeItem, .contentSlideControlls a:hover, #top .related_posts .contentSlideControlls a:hover, #top th, #top th a,  a.button:hover, #top #wrap_all .sub_menu .menu > .current_page_item > a{
color:#eeeef0;
}

#top .aside-background, div .gravatar img, .slideshow, #top .main_menu .menu li ul a:hover, .related_posts_default_image, div .numeric_controls a, .title_container #searchsubmit, .title_container #s, .tab_content.active_tab_content, .js_active #top  .active_tab, .toggler.activeTitle, .contentSlideControlls a{
background-color:#f8f8f8;
}

tr:nth-child(odd) td, tr:nth-child(odd) th{
background-color:#f8f8f8;
}

#top .primary-background, .dropcap2, div .button, input[type="submit"], #submit, .info_text_header, .numeric_controls a:hover, .numeric_controls .active_item, .contentSlideControlls a.activeItem, #top th, #top .related_posts .contentSlideControlls a.activeItem, #top .arrow_controls a, #main .content #searchsubmit:hover, .callout a{
background-color:#000000;
}

#top .primary-color, a, #cancel-comment-reply-link, .blog-tags a:hover, .relThumb a:hover strong, .flex_column h1, .flex_column h2, .flex_column h3, .flex_column h4, .flex_column h5, .flex_column h6, #top #wrap_all .tweet-text a, #top #js_sort_items a.active_sort{
color:#000000;
}

#top .primary-border, div .main_menu ul:first-child > li.current-menu-item > a, div .main_menu ul:first-child > li.current_page_item > a, div .button, input[type="submit"], #submit, #top .main_menu .menu ul, .info_text_header{
border-color:#000000;
}

h1, h2, h3, h4, h5, h6, .hero-text, blockquote, legend, #top .slideshow_caption h1{
font-family:'Bitter', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#top .extralight-border, div #header .container, div .pagination, #top .pagination span, div .pagination a, div .gravatar img, #top div .commentlist ul, div .children .children .says, div .commentlist>.comment, div .input-text, input[type="text"], input[type="password"], input[type="email"], textarea, select, #top .main_menu .menu li, pre, code, div .numeric_controls a, div .pullquote_boxed, div .news-thumb, div .tweet-thumb a, #top ul.borderlist>li, .post_nav, #top .wp-caption, .slideshow,  .widget a, .widget li, .widget span, .widget div, table, td, tr, th, #footer .container, #socket .container, #top fieldset{
border-color:#e1e1e1;
}

#top .highlight-background, div .button:hover, input[type="submit"]:hover, #submit:hover, .contentSlideControlls a:hover, #top .related_posts .contentSlideControlls a:hover, #top .caption-slideshow-button:hover, #top .arrow_controls a:hover, #main .content #searchsubmit{
background-color:#23b5cf;
}

a:hover, #top .widget ul li a:hover, #top .widget ul li .news-link:hover strong, #top #wrap_all .tweet-text a:hover, #js_sort_items a:hover{
color:#23b5cf;
}

#top .caption-slideshow-button:hover{
border-color:#23b5cf;
}

#footer{
background-color:#000000;
}

#top #wrap_all #footer a, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer strong, #footer .tabcontainer span, #top #footer table, #top #footer table td, #top #footer table caption{
color:#8a8a8a;
}

#footer, #footer div, #footer p, #footer span, #top #wrap_all #footer a:hover strong{
color:#686868;
}

#footer a, #footer div, #footer span, #footer li, #footer ul{
border-color:#232323;
}

#footer table, #footer td, #footer tr, #footer th #footer img{
border-color:#686868;
}

#top #footer .tagcloud a, #footer .tab_content.active_tab_content, .js_active #top #footer .active_tab, #footer .news-thumb, #footer .tweet-thumb a{
background-color:#232323;
}

#footer tr:nth-child(odd) td, #footer tr:nth-child(odd) th{
background-color:#232323;
}

#socket, #socket a, html.html_stretched, #lang_sel_footer{
background-color:#222222;
}

#socket, #socket a, #lang_sel_footer, #lang_sel_footer a{
color:#999999;
}

::-moz-selection{
background-color:#000000;
}

::-webkit-selection{
background-color:#000000;
}

::selection{
background-color:#000000;
}

::-moz-selection{
color:#eeeef0;
}

::-webkit-selection{
color:#eeeef0;
}

::selection{
color:#eeeef0;
}

div #shiptobilling label {font-size: 10px;}
.form-row .input-checkbox{display:inline;margin: -2px -2px 0 0;text-align:center;vertical-align:middle;}

div #shiptobilling{position: relative;right:0;top:0;
}

.sub_menu>ul>li>a, .sub_menu>div>ul>li>a{
    font-size: 10pt;
}

.sub_menu li{ float:left; position: relative; padding:0 10px; border-right-style: solid; border-right-width: 1px; line-height: 15px;
}

.bbp-login-form .bbp-username {margin-top: 0px;}

div.bbp-submit-wrapper {margin-top: 15px; float: left; clear: both;}

h2 { font-size: 28px; }
h5 { line-height: 1.5em; }	
.hr{height: 0px;}

.main_menu ul{font-size: 138%; line-height: 26px;}

#top .widget input[type="text"], #top .widget input[type="password"] {
width: 95%;
}

form#bbp-search-form {
width: 181px;
float: left;
}

.bbp-header, .bbp-header a, .bbp-header a:hover {
color: black!important;
}

#bbpress-forums .subscription-toggle {
float: right;
}

.form-row {
overflow: inherit;
}

@media only screen and (max-width: 767px) {
#top .logo a, #top .logo img{max-width: none;display: inline; float:none;}
#top #socket .social_bookmarks {
float: right;
position: initial;}
#top .offset-by-three {
padding-left: initial;
text-align: center;
}
}

@media only screen and (min-width: 767px) {
#top .offset-by-three {
padding-left: 30px;
}
}

#footer .widget_nav_menu li a {
font-size: 17px;
text-align: center;
border-color: inherit;
border: none;
}

.copyright {
text-align: initial;
}

#top .widget_nav_menu li:before {
display: none;
}

#footer a, #footer div, #footer span, #footer li, #footer ul {
border-color: black;
}

#bbp-single-user-details #bbp-user-navigation {
overflow: initial;
}

#bbp-single-user-details #bbp-user-navigation li {
float:initial;
}

#bbp-single-user-details {
padding: inherit;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
opacity: initial;
}

#searchsubmit {
background-color: #f8f8f8!important;
top: 1px;
width: 35px;
height: 35px
}

form#bbp-search-form {
position: relative;
float: left;
margin: 0;
width: 100%;
}

#bbp_search {
width: 160px;
padding: 10px 40px 10px 10px;
position: relative;
margin: 0;
}

#bbp_search_submit {
background-color: #f8f8f8!important;
top: 1px;
width: 35px;
height: 35px;
border: medium none;
cursor: pointer;
display: block;
outline: none;
padding: 0;
position: absolute;
right: 0px;
text-indent: -9999px;
z-index: 2;
margin: 0;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
background-image: url(../../../../../wp-content/themes/propulsion/images/layout/icon-search.png);
background-position: center center;
background-repeat: no-repeat;
}

.template-blog .content, .template-blog .sidebar {
margin-top: inherit;
}

header {
clear: left;
}

.form-row label {
clear: left;
}

#bbpress-forums #bbp-user-wrapper ul.bbp-replies, #bbpress-forums #bbp-user-wrapper fieldset.bbp-form {
width: 100%;
}

#commentform label{
position: initial;
}

#top .cart_dropdown .dropdown_widget li a{
color:#1A1A19;
}

.woocommerce-tabs .tabs a, .product_meta, .quantity input.qty, .cart_dropdown .dropdown_widget, #top .sub_menu li ul a, .avia_select_fake_val, address, .product>a .product_excerpt, .term_description{
color:#888889;
}

.quantity input, .cart_dropdown .dropdown_widget li, .cart_dropdown .dropdown_widget div, .cart_dropdown .dropdown_widget img, #top .sub_menu ul ul li, .thumbnails_container li, .thumbnails_container li span, #top .comment-text, div #reviews li .avatar, div .widget_price_filter .ui-slider-horizontal .ui-slider-range, .entry-content .avia_select_unify, .addresses.col2-set .col-1, .addresses.col2-set .col-2, .payment_methods, .payment_methods li, #payment, .avia_cart, form.login, #top div .chzn-container-single .chzn-single, #top div .chzn-container-single .chzn-single div {
border-color:#e1e1e1;
}

#top div.product .woocommerce-tabs ul.tabs li.active a, .quantity input.qty, .cart_dropdown .dropdown_widget,  #top .sub_menu li ul a, #payment{
background-color:#eeeef0;
}

.woocommerce-tabs ul.tabs, .activeslideThumb, #payment li{
background-color:#f8f8f8;
}

.summary div{
border-color:#f8f8f8;
}

#top .sub_menu li li a:hover, div .widget_price_filter .ui-slider-horizontal .ui-slider-range, div .widget_price_filter .price_slider_wrapper .ui-widget-content, .avia_cart{
background-color:#f8f8f8;
}

div .quantity input.plus, div .quantity input.minus, #shop_header a:hover, #top .widget_layered_nav ul li.chosen a, #top .widget_layered_nav ul li.chosen small{
color:#eeeef0;
}

div .quantity input.plus, div .quantity input.minus, div .widget_layered_nav ul li.chosen, div .widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle, #top a.remove{
background-color:#000000;
}

#top .bbp-forum-title, #top .bbp-topic-title a{
color:#222222;
}

#top .template-forum-wrap div, .bbp-pagination-links, .bbp-pagination-links span, .bbp-pagination-links a, #top .bbp-topic-pagination a, #bbp-your-profile span, img.avatar, table ul, #bbpress-forums *{
border-color:#e1e1e1;
}

#top .bbp-pagination, #top .bbp-topic-pagination a, #entry-author-info #author-description, div.bbp-breadcrumb a, .bbp_widget_login .bbp-lostpass-link:after{
color:#888889;
}

.bbp-admin-links{
color:#e1e1e1;
}

.bbp-header{
background-color:#000000;
}

.bbp-header, .bbp-header a, .bbp-header a:hover{
color:#eeeef0;
}

#bbpress-forums .even, #bbpress-forums .bbp-replies .odd{
background-color:#eeeef0;
}

#bbpress-forums .odd{
background-color:#f8f8f8;
}

.bbp-author-role, .bbp-author-ip, .bbp-body .bbp-reply-content, .bbp-meta{
color:#888889;
}

</style>

<!-- end custom styles-->


<!-- google webfont font replacement -->
<link id="google_webfont_1" rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bitter" />

<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>




<!--//////////////////////////////////////////-->
<!--//////////////////////////////////////////-->
<!--//////////////////////////////////////////-->
<!--//////////////////////////////////////////-->
<!-- NEW CSS FOR SKROLLR -->
<link rel="stylesheet" href="css/app.min.css" type="text/css" media="screen"/>
<!--//////////////////////////////////////////-->
<!--//////////////////////////////////////////-->
<!--//////////////////////////////////////////-->
<!--//////////////////////////////////////////-->
<!--//////////////////////////////////////////-->
<!--//////////////////////////////////////////-->
<!--//////////////////////////////////////////-->




</head>


  <body id="skrollr-body" class="home blog stretched desktop chrome loading">
  <div id="top">
    {% block body %}
      
    {% endblock %}

    {% include "scripts" %}

  </body>
  </div>
</html>